# Dependencies
node_modules/

# Environment variables and secrets
.env
.env.*
!.env.example

# Build & Deploy
dist/
build/
.vercel/
.next/
coverage/

# Logs
logs/
*.log

# OS files
.DS_Store
Thumbs.db

# Scratch / Local Testing
scratch/
